/*
Orange color: #e67e22

*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }
  
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }
  
  /* ----------------------------------------------- */
  /* REUSABLE COMPONENTS */
  /* ----------------------------------------------- */
  
  .row {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .box {
    padding: 1%;
  }
  
  /* ----- HEADINGS ----- */
  h1,
  h2,
  h3 {
    font-weight: 300;
    text-transform: uppercase;
  }
/*   
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
  } */
  
  h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  
  h3 {
    font-size: 110%;
    margin-bottom: 15px;
  }
  
  h2:after {
    display: block;
    height: 2px;
    background-color: #6c6966;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
  }

  /* ----- Header ----- */

  .img-carousel {
    position: relative;
  }
  
  .img-carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .img-carousel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    z-index: 1; /* Place the gradient on top of the image */
  }
  
  .carousel-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .navbar {
    background-color: rgba(0, 0, 0, 0.0); /* 50% opacity */
    font-size: larger;
    /* font-family: "Nerko One", cursive;
    font-weight: 200;
    font-style: normal; */
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .navbar-nav li{
    margin: 0 1rem;
  }

  /* Style to ensure carousel images fill the viewport */
  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
  }

  .carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

/******************     Booking Description    ******************/

.booking{
  padding: 3rem 0rem 8rem 0;
    background-color: #f8f9fa;
}


.booking-description{
    text-align: center;
    margin: 0 10rem;

}

.booking-description h2{
    text-transform: none;
    font-family: "Nerko One", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 55px;
}


.booking-description h3{
    text-transform: none;
    font-family: "Nerko One", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
}

.booking-description .heading p{
    text-transform: uppercase;
    /* font-family: "Lora", serif; */
    font-weight: 400;
    font-size: x-large;
    color: rgb(238, 131, 209);
}

.booking-description .content{
    margin-top: 2rem;
    height: 15rem;
}

.booking-description .content i{
    font-size: 35px;

}

/* Destination Header */


.destinations{
    margin: 6rem 0;
}


.destination-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.destination-header .left p{
    color: #4e66f8;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 800;
    margin-bottom: 0;
}

.destination-header .left h1{
    text-transform: none;
    font-size: xx-large;
    font-weight: 800;
}

.destination-content {
    margin: 3rem 8rem;
    height: 16rem;
}

.card-title{
    color: white;
    position: absolute;
    bottom: 2px;
    left: 25px;
}


/* Ready to move */


.ready-to-move{
    height: 30rem;
    position: relative;
}

.ready-to-move img{
    width: 100%;
    height: 100%;
}

.ready-to-move .content-ready h1{
    text-transform: none;
    font-family: "Nerko One", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 67px;
    position: absolute;
    bottom: 11rem;
    left: 8rem;
    color: white;
}


.ready-to-move button{
    position: absolute;
    bottom: 10rem;
    left: 8rem;
    background-color: #fff;
    border-radius: 6px;
    padding: 3px 14px;
}



/* Testinmonial */

.what-our-guest-say{
  background-color: #f8f9fa;
}

.testinomial{
  height: 32rem;
  padding: 3.5rem 8rem;
}

.testimonial-heading{
  text-align: center;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 3rem;
}

.testimonial-heading p {
  font-size: large;
  color: #545454;
}

.testimonial-heading h1 {
  font-size: xx-large;
}

.testimonial-content span{
  font-size: small
}

.testimonial-content p{
  font-size: large;
  color: #545454;
}

.testimonial-content img{
  border-radius: 50%;
    object-fit: cover;
    max-width: none;
    width: 32px;
    height: 32px;
}

.testimonial-content-profile{
  display: flex;
}


/* contant-section */

.contact-section{
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ),
  url(https://websitedemos.net/travel-and-tourism-02/wp-content/uploads/sites/840/2021/05/background-img-1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://websitedemos.net/travel-and-tourism-02/wp-content/uploads/sites/840/2021/05/background-img-1.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  padding: 7rem 12rem;
  text-align: center;
}

.contact-section h1{
  font-size: 2rem;
  
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.contact-booking{
  margin-top: 2rem;
}

.contact-booking p{
  text-transform: uppercase;
}

.contact-booking .phone{
  font-size: 2.5rem;
}

.contact-booking i{
  margin-right: 25px;
}

/* Footer */

.footer{
  text-align: center;
}

.footer-main{
  height: 14rem;
}

.footer-copy-write {
  text-align: center;
}

.social-media{
  justify-content: center;
}


/* Contact Us */

.contact-us{
  height: 25rem;
  text-align: center;
  padding: 2rem 10rem;
}

.contact-us h1{
  text-transform: none;
  font-family: "Nerko One", cursive;
  font-weight: 200;
  font-style: normal;
  font-size: 67px;
}

.contact-us input, .contact-us textarea{
  width: 100%;
  border: none;
  background-color: lightgoldenrodyellow;
  padding: 10px 25px;
  font-size: smaller;
}

.contact-us textarea{
  margin-top: 12px;
}

.contact-us button{
  float: right;
  border: none;
    padding: 5px 50px;
    border-radius: 6px;
    background-color: khaki;
    font-size: smaller;
}